body{
  background-image:url('laptop.jpeg');
  background-size: cover;
  background-position: center;
  background-color:rgba(94, 97, 93, 0.9);
}

.app{
    background:white;
    min-height:80vh;
    width:400px;
    margin: 10px ;
    background-color:rgba(120, 100, 100, 0.7);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    min-height:80vh;
    border-radius: 35px;
    /* color: white; */
}

.container{
  display: flex;
  justify-content: center;
  }

.crossed{
  text-decoration: line-through 2px red;
  }

  ul, li{
    list-style-type: none;
    margin:0;
    padding:10px;
    color:003C43;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;    
  }

  h1{
    font-family: "Montserrat", sans-serif;
    color:white;
  }

  .input, .click, .center{
    display: flex;
    justify-content: center;
    }

  .check{
    padding: 15px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    width:400px;
    font-size:20px;
  }

  .btn-add{
    margin:20px;
    padding:10px;
    border-radius: 20px;
    width:200px;
    background-color: #AFD198;
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
    border: none;
    color:481E14
  
  }

  .btn-delete{
    margin:20px;
    padding:10px;
    border-radius: 20px;
    width:200px;
    background-color:#FA7070;
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
    border: none;
    color:481E14
  }

  img{
    margin:60px;
  }

 

 

